{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listes des Titres</h1>

    <table class="table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for titre in titres %}
            <tr>
                <td><a href="{{ path('titre_show', { 'id': titre.id }) }}">{{ titre.titre }}</a></td>
                <td>{{ titre.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('titre_show', { 'id': titre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('titre_edit', { 'id': titre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('titre_new') }}">Create a new titre</a>
        </li>
    </ul>
{% endblock %}
