{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listes des Titres</h1>

    <table class="table-bordered" style="width: 80%;">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for titre in titres %}
            <tr>
                <td><a href="{{ path('titre_show', { 'id': titre.id }) }}">{{ titre.titre }}</a></td>
                <td>{{ titre.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('titre_show', { 'id': titre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('titre_edit', { 'id': titre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <input id="c1" style="margin-top: 10px;" type="button" class="btn btn-default" value="Créer un nouveau titre" onclick="window.location.href='{{ path('titre_new') }}';"/>
        
{% endblock %}
