<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />   
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('style.css') }}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('home') }}">Projet Web Gestion des salles de l'IMIE</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reservation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('home') }}">Liste des reservations</a></li>
                            <li><a href="{{ path('reservation_new') }}">Créer une réservation</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilisateur<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('utilisateur_index') }}">Liste des utilisateurs</a></li>
                            <li><a href="{{ path('utilisateur_new') }}">Créer un utilisateur</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Salle<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('salles_index') }}">Liste des salles</a></li>
                            <li><a href="{{ path('salles_new') }}">Créer une salle</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Formation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('formation_index') }}">Liste des formations</a></li>
                            <li><a href="{{ path('formation_new') }}">Créer une formation</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Matière<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('matiere_index') }}">Liste des matières</a></li>
                            <li><a href="{{ path('matiere_new') }}">Créer une matière</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Titre<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('titre_index') }}">Liste des titres</a></li>
                            <li><a href="{{ path('titre_new') }}">Créer un titre</a></li>
                        </ul>
                    </li>
                    <a href="#" style="position: absolute; right: 10px; top: 15px;">Deconnexion</a>
                  </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
