{% extends 'base.html.twig' %}
{% block title %}Modification Matiere{% endblock %}

{% block body %}
    <h1>Modification Matiere</h1>

    <div class="col-sm-3">
        <ul>
            <li>
                <a style="color: black;" href="{{ path('matiere_index') }}">Retour à la liste</a>
            </li>
        </ul>
            {{ form_start(delete_form) }}
            <input id="s1" class="btn btn-default" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}  
    </div>
    <div class="col-sm-6">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" style="" type="submit" value="Modifier" />
        {{ form_end(edit_form) }}
    </div>
    <div class="col-sm-3"></div>
{% endblock %}
