{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matiere</h1>

    <table>
        <tbody>
            <tr>
                <th>Intitule</th>
                <td>{{ matiere.intitule }}</td>
            </tr>
            <tr>
                <th>Idmatiere</th>
                <td>{{ matiere.idMatiere }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matiere_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('matiere_edit', { 'id': matiere.idMatiere }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
