{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Autorisation</th>
                <th>Idutilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': utilisateur.idUtilisateur }) }}">{{ utilisateur.nom }}</a></td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.autorisation }}</td>
                <td>{{ utilisateur.idUtilisateur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.idUtilisateur }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.idUtilisateur }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_new') }}">Create a new utilisateur</a>
        </li>
    </ul>
{% endblock %}
