{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salles list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nbpc</th>
                <th>Tableau</th>
                <th>Projecteur</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td><a href="{{ path('salles_show', { 'id': salle.id }) }}">{{ salle.nom }}</a></td>
                <td>{{ salle.nbPc }}</td>
                <td>{% if salle.tableau %}Yes{% else %}No{% endif %}</td>
                <td>{% if salle.projecteur %}Yes{% else %}No{% endif %}</td>
                <td>{{ salle.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salles_show', { 'id': salle.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
