{% extends 'base.html.twig' %}
{% block title %}Liste des Salles{% endblock %}

{% block body %}
    <h1>Liste des Salles</h1>

    <table id="t1" class="table-bordered" style="width: 80%;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de Pc</th>
                <th>Tableau</th>
                <th>Projecteur</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td><a href="{{ path('salles_show', { 'id': salle.id }) }}">{{ salle.nom }}</a></td>
                <td>{{ salle.nbPc }}</td>
                <td>{% if salle.tableau %}Yes{% else %}No{% endif %}</td>
                <td>{% if salle.projecteur %}Yes{% else %}No{% endif %}</td>
                <td>{{ salle.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salles_show', { 'id': salle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('salles_edit', { 'id': salle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
        <input id="c1" style="margin-top: 10px;" type="button" class="btn btn-default" value="Créer une nouvelle salle" onclick="window.location.href='{{ path('salles_new') }}';"/>

{% endblock %}
