{% extends 'base.html.twig' %}
{% block title %}Liste des Reservations{% endblock %}
{% block body %}
    <h1>Liste des Reservations</h1>

    <table id="t1" class="table-bordered" style="width: 80%;">
        <thead>
            <tr>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{% if reservation.dateDebut %}{{ reservation.dateDebut|date('Y-m-d') }}{% endif %}</a></td>
                <td>{% if reservation.dateFin %}{{ reservation.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <input id="c1" style="margin-top: 10px;" type="button" class="btn btn-default" value="Créer une nouvelle reservation" onclick="window.location.href='{{ path('reservation_new') }}';"/>

{% endblock %}
