{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendrier des reservations</h1>
    <div class="container">
    <div id="calendar"></div>
    </div>

    <script>$.getScript('http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js',function(){
  
  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();
  
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month'
    },
    editable: true,
    events: [
      {% for reservation in reservations %}
      {
        title: '{{ reservation.idFormation }}',
        start: new Date({% if reservation.dateDebut %}{{ reservation.dateDebut|date('Y') }}{% endif %}, {% if reservation.dateDebut %}{{ reservation.dateDebut|date('n')-1 }}{% endif %}, {% if reservation.dateDebut %}{{ reservation.dateDebut|date('d') }}{% endif %}),
        end: new Date ({% if reservation.dateFin %}{{ reservation.dateFin|date('Y') }}{% endif %}, {% if reservation.dateFin %}{{ reservation.dateFin|date('n')-1 }}{% endif %}, {% if reservation.dateFin %}{{ reservation.dateFin|date('d') }}{% endif %}),
        url: "{{ path('reservation_show', { 'id': reservation.id }) }}"
      },
        {% endfor %}
    ]
  });
})</script>
{% endblock %}
